APP_ENV=dev
SERVER_ADDR=127.0.0.1
SERVER_PORT=5000
BASE_PATH=/
PRISM_API_BASE_URL=http://127.0.0.1:8010
PRISM_API_TIMEOUT_MS=5000
PRISM_API_KEY=

DB_NAMES=DB1,DB2

DB1_HOST=127.0.0.1
DB1_PORT=3306
DB1_USER=root
DB1_PASS=pass
DB1_NAME=appdb
DB1_PARAMS=charset=utf8mb4&parseTime=True&loc=Local

DB2_HOST=127.0.0.1
DB2_PORT=3306
DB2_USER=central_user
DB2_PASS=central_pass
DB2_NAME=pf_central
DB2_PARAMS=charset=utf8mb4&parseTime=True&loc=Local
